@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
@layer components {
  .btn {
    @apply text-white bg-[#C70B38] px-4 py-2 duration-300 rounded-md
  }

  .navlink {
    @apply text-[#084E7A] font-medium
  }

  .title {
    @apply text-white font-black md:text-6xl text-3xl 
  }

  .content-title {
    @apply md:text-4xl text-2xl font-black text-[#084E7A] mb-4
  }

  .input {
    @apply p-3 bg-gray-100 rounded-lg w-full border-2 border-[#084E7A] outline-none focus-within:border-[#084e7a] focus-within:shadow-md focus-within:shadow-[#084e7a70]
  }

  .thumb {
    height: 200px;
    width: 100%;
    margin: 0 auto;
  }

  .radio-btn {
    @apply md:p-4 p-3 rounded-full w-4
  }

  .category-btn {
    @apply md:text-2xl text-sm font-bold rounded-lg py-2 text-white hover:text-[#084e7a] 
  }

  .carousel-btn {
    @apply absolute top-1/2 transform -translate-y-1/2 text-white text-xl bg-[#084e7a] rounded-full px-3 py-2 md:mx-8 mx-2
  }


}
